<div class="form"> 
    <form [formGroup]="changePasswordForm">
        <h1>Change Password</h1>
        <h4>Please enter your new password below.</h4>
        <mat-form-field>
            <input matInput placeholder="Email" type="email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password"  [errorStateMatcher]="matcher" required >
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint *ngIf="!passwordInput.value">Enter your password</mat-hint>

            <mat-error *ngIf="changePasswordForm.controls['password'].hasError('required')">
                A password is required.
            </mat-error>
            <mat-error *ngIf="!changePasswordForm.controls['password'].hasError('required') && changePasswordForm.controls['password'].hasError('minlength') ">
                  Must be at least 8 characters!
            </mat-error>
            <mat-error *ngIf="!changePasswordForm.controls['password'].hasError('required') && changePasswordForm.controls['password'].hasError('hasNumber') ">
                Must contain at least 1 number!
            </mat-error>
            <mat-error *ngIf="!changePasswordForm.controls['password'].hasError('required') && changePasswordForm.controls['password'].hasError('hasCapitalCase') ">
                Must contain at least 1 Capital Case letter!
            </mat-error>
            <mat-error *ngIf="!changePasswordForm.controls['password'].hasError('required') && changePasswordForm.controls['password'].hasError('hasSmallCase') ">
                Must contain at least 1 Small Case Letter!
            </mat-error>
            <mat-error *ngIf="!changePasswordForm.controls['password'].hasError('required') && changePasswordForm.controls['password'].hasError('hasSpecialCharacters') ">
                Must contain at least 1 Special Character!
            </mat-error>
        </mat-form-field>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <button mat-raised-button color="primary" (click)="changePassword()">Send</button>
      </form>
</div>

